[submodule "hxDaedalus"]
	path = hxDaedalus
	url = https://github.com/Falagard/hxDaedalus
[submodule "babylonhx"]
	path = babylonhx
	url = https://github.com/Falagard/babylonhx
[submodule "sample-assets"]
	path = sample-assets
	url = https://github.com/Falagard/centauri-sample-assets
[submodule "seedyrng"]
	path = seedyrng
	url = https://github.com/chfoo/seedyrng
[submodule "behavior-tree-hx"]
	path = behavior-tree-hx
	url = https://github.com/Falagard/behavior-tree-hx
