[submodule "hxDaedalus"]
	path = hxDaedalus
	url = https://github.com/Falagard/hxDaedalus
[submodule "babylonhx"]
	path = babylonhx
	url = https://github.com/Falagard/BabylonHx
[submodule "sample-assets"]
	path = sample-assets
	url = https://github.com/Falagard/centauri-sample-assets
[submodule "box2d"]
	path = box2d
	url = https://github.com/Falagard/box2d
[submodule "castle"]
	path = castle
	url = https://github.com/ncannasse/castle
[submodule "hxbt"]
	path = hxbt
	url = https://github.com/Falagard/hxbt
[submodule "tweenx"]
	path = tweenx
	url = https://github.com/Falagard/tweenx
[submodule "haxeui-babylonhx"]
	path = haxeui-babylonhx
	url = https://github.com/Falagard/haxeui-babylonhx
